body {
    color: white;
    border: 30px solid rgb(1, 17, 17);
    padding: 20px;
    font-family: "Arial", sans-serif;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fffcfc4b;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#logo1{
    margin-top: 50px;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#sub1{
    margin-top: 100px;
}

#OG{
    margin-top: 30px;
}

#general{
    text-align: justify;
}

#OE{
    margin-bottom: 50px;
}

#Justificación{
    margin-top: 50px;
}

#just{
    text-align: justify;
    margin-bottom: 30px;
}

#Prob{
    height: 400px;
    width: 400px;
}

#Videos{
    margin-top: 50px;
    margin-bottom: 50px;
}

#res{
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 50px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(32, 31, 31, 0.7)
}

#sum{
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 50px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(32, 31, 31, 0.7)
}

.cont{
    text-align: justify;
}

.cuadro {
    background-color: #ffffff41;
    color: #ffffffb7;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}
  
.informacion {
    display: none;
    background-color: #ffffff41;
    color: #ffffffb7;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.information {
    display: none;
    background-color: #ffffff41;
    color: #ffffffb7;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
#Estudio{
    width: 600px;
    height: 400px;
}

footer {
    background-color:  #ffffff41; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    position: relative; 
    width: 100%; 
    bottom: 0;
}